<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Dashboard</title>
    <link rel="stylesheet" href="../public/dashboard.css">
</head>
<body>
  <h1>Expense Dashboard</h1>

  <div class="buttons">
    <button id="allBtn" class="active">All</button>
    <button id="dailyBtn">Today</button>
    <button id="weeklyBtn">Weekly</button>
    <button id="monthlyBtn">Monthly</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Time</th>
        <th>Description</th>
        <th>Category</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody id="tableBody"></tbody>
  </table>

  <div id="pagination" style="margin-top: 15px; text-align: center;">
    <button id="prevBtn">Prev</button>
    <span id="pageInfo"></span>
    <button id="nextBtn">Next</button>
  </div>

  <div id="totalAmount">Total: ₹0</div>

  <script src="../public/dashboard.js"></script>
</body>
</html>